<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css" rel="tylesheet" type="text/css">
		<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css" rel="stylesheet" type="text/css">
		<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
		<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
		{{ script | safe }}
		<title> nCov virus count </title>

	</head>
	<body>
		<h1> nCov virus data daily update </h1>
		<h3> data from dxy.cn </h3>
		{{ div | safe }}

	</body>
</html>